
#> Database configuration

##> Environment based
# spring.datasource.url=jdbc:postgresql://localhost:5432/RGSA
spring.datasource.url=jdbc:postgresql://10.1.11.211:5432/RGSA
spring.jpa.properties.hibernate.default_schema=rgsa
spring.datasource.username=postgres
spring.datasource.password=postgres
# spring.datasource.password=a
logging.level.sql=debug

##> Constant
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.connection-test-query=SELECT 1

spring.jpa.hibernate.ddl-auto=none
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.mapping-resources=/db/mappings/rgsa-orm.xml
spring.jpa.database-platform=gov.in.rgsa.config.ExtendedPS95Dialect
spring.jpa.properties.hibernate.dialect=gov.in.rgsa.config.ExtendedPS95Dialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl



# RGSA web app configuration

##> Environment based
logging.level.web=trace
# Mount point
server.servlet.context-path=/rgsa

##> Constants
#spring.mvc.view.prefix=/WEB-INF/jsp/
#spring.mvc.view.suffix=.jsp
# spring.main.allow-bean-definition-overriding=true
owasp.CsrfConfig.location=WEB-INF/configs/Owasp.CsrfGuard.properties
owasp.CsrfConfig.print=true

##> Custom environment specifics
homepage.json.data.file=D:\\json-data-file
upload.file.location.officeorder=/tmp/rgsa/Office Order Upload/officeorder
upload.file.location=/tmp/rgsa/uploads

##> Custom constants
rgsa.captcha.width=200
rgsa.captcha.height=60


# isCapcha=false
rgsa.captcha.enabled=false
# Temporary Tricks
spring.security.user.name=a
spring.security.user.password=a
